<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.vr.windowmanager"
          coreApp="true"
          android:sharedUserId="android.uid.system"
          android:versionCode="1"
          android:versionName="1.0" >

  <!-- The GVR SDK requires API 19+ and OpenGL ES 2+. -->
  <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="24" />
  <uses-feature android:glEsVersion="0x00020000" android:required="true" />

  <!-- We need the DIAGNOSTIC permission to read HMD button events. DIAGNOSTIC
       ensures our process runs with the "input" group, so we can access
       /dev/input. See frameworks/base/data/etc/platform.xml for the permission
       to group mappings.

       TODO(steventhomas): We shouldn't use this DIAGNOSTIC permission. Figure
       out the correct way to get access to the HMD buttons.
       Bug: b/33253485. -->
  <uses-permission android:name="android.permission.DIAGNOSTIC"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application
      android:label="vr_window_manager"
      android:theme="@style/AppStyle">
    <service android:name=".VrWindowManagerService" />
    <receiver android:name="com.google.vr.windowmanager.BootCompletedReceiver">
      <intent-filter>
        <!-- action android:name="android.intent.action.BOOT_COMPLETED" / -->
      </intent-filter>
    </receiver>
  </application>
</manifest>
