on init
  mkdir /dev/socket/pdx/system/vr/pose 0775 system system
  mkdir /dev/socket/pdx/system/vr/sensors 0775 system system

service sensord /system/bin/sensord
  class core
  user system
  group system camera sdcard_rw
  writepid /dev/cpuset/system/tasks
  socket pdx/system/vr/sensors/client stream 0666 system system
  socket pdx/system/vr/pose/client stream 0666 system system
